<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="css/main.css">
    <title>Receipt</title>
</head>
<body class="receiptHtml">
  <!-- Div for receipt printing -->
    <div class="receipt">
        <table class="table">
          <!-- Printing the table personal details in table  -->
            <tr>
              <th colspan="2">Customer Name</th>
              <td colspan="2"><%= name %></td>
            </tr>
            <tr>
              <th colspan="2">Email</th>
              <td colspan="2"><%= email %></td>
            </tr>
            <tr>
              <th colspan="2">Phone</th>
              <td colspan="2"><%= phoneNumber %></td>
            </tr>
            <tr>
              <th colspan="2">City</th>
              <td colspan="2"><%= city %></td>
            </tr>
            <tr>
              <th colspan="2">Province</th>
              <td colspan="2"><%= province %></td>
            </tr>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
              <!-- Iterating through the selected products to get the product details -->
            </tr>
            <%
              for (var element of selectedProducts){
                var prodName = element[0];
                var pri = element[1];
                var quant = element[2];
                var productTotal = (pri * quant);
                %>
                <tr>
                  <td><%= prodName %></td>
                  <td><%= quant %></td>
                  <td>$<%= pri %></td>
                  <td>$<%= productTotal %></td>
                </tr>
                <%
              }
              tax = taxRate * 100;
            %>
            <!-- Printing the prices -->
            <tr>
              <th colspan="3">Total Price</th>
              <td>$<%= totalPrice %></td>
            </tr>
            <tr>
              <th colspan="3">Tax @ <%= tax %>%</th>
              <td>$<%= taxAmount %></td>
            </tr>
            <tr>
              <th colspan="3">Payable</th>
              <td>$<%= sumTotal %></td>
            </tr>
          </table>
    </div>
    <p class="message">Thank You for the purchase !!</p>
</body>
</html>